<div class="container">
  <!--  filter  -->
  <form class="form-item" name='filter' action="/" method="POST">
    <p>類別：</p>
    <select id="category" name='category' onchange="filter.submit()">
      <option value="none" {{equal records.category "none" }} selected disabled>---請選擇---</option>
      <option value="all" {{equal records.category "all" }}>全部</option>
      <option value="household" {{equal records.category "household" }}>家居物業</option>
      <option value="transport" {{equal records.category "transport" }}>交通出行</option>
      <option value="entertainment" {{equal records.category "entertainment" }}>休閒娛樂</option>
      <option value="grocery" {{equal records.category "grocery" }}>餐飲食品</option>
      <option value="others" {{equal records.category "others" }}>其他</option>
    </select>
  </form>
  <!--  totalAmount  -->
  <div class="totalAmount">
    <p>總金額：</p>
    <span>{{totalAmount}}</span>
  </div>
  <!-- expense list -->
  <div class="wrapper">
    <ul>
      {{#each records}}
      <li>
        <div class="icon item-icon">
          <i class="{{this.category}}"></i>
        </div>
        <div class="item">
          <h3>{{this.title}}</h3>
          <p>{{this.date}}</p>
        </div>
        <div class="amount">{{this.amount}}</div>
        <div class="button">
          <a href="/expense/{{this._id}}/edit"><i class="far fa-edit"></i></a>
          <form action='/expense/{{this._id}}?_method=DELETE' method="POST">
            <button type="submit"><i class="far fa-trash-alt"></i></button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <a href="/expense/new">
    <div class="icon add-icon"><i class="fas fa-plus"></i></div>
  </a>
</div>