<div class="container">
  <!--  filter  -->
  <form action="/" method="GET">
    <div class="form-item">
      <p>類別：</p>
      <select id="category" name='category' onchange="this.form.submit()">
        <option value="" {{equal category "" }} selected>全部</option>
        <option value="household" {{equal category "household" }}>家居物業</option>
        <option value="transport" {{equal category "transport" }}>交通出行</option>
        <option value="entertainment" {{equal category "entertainment" }}>休閒娛樂</option>
        <option value="grocery" {{equal category "grocery" }}>餐飲食品</option>
        <option value="others" {{equal category "others" }}>其他</option>
      </select>
    </div>
    <div class="form-item">
      <p>月份：</p>
      <select id="month" name='month' onchange="this.form.submit()">
        <option value="all" {{equal month "all" }} selected>全部</option>
        <option value="january" {{equal month "january" }}>一月</option>
        <option value="february" {{equal month "february" }}>二月</option>
        <option value="march" {{equal month "march" }}>三月</option>
        <option value="april" {{equal month "april" }}>四月</option>
        <option value="may" {{equal month "may" }}>五月</option>
        <option value="june" {{equal month "june" }}>六月</option>
        <option value="july" {{equal month "july" }}>七月</option>
        <option value="august" {{equal month "august" }}>八月</option>
        <option value="september" {{equal month "september" }}>九月</option>
        <option value="october" {{equal month "october" }}>十月</option>
        <option value="november" {{equal month "november" }}>十一月</option>
        <option value="december" {{equal month "december" }}>十二月</option>
      </select>
    </div>
  </form>
  <!--  totalAmount  -->
  <div class="totalAmount">
    <p>總金額：</p>
    <span>{{totalAmount}}</span>
  </div>
  <!-- expense list -->
  <div class="wrapper">
    <ul>
      {{#each records}}
      <li>
        <div class="icon item-icon">
          <i class="{{this.icon}}"></i>
        </div>
        <div class="item">
          <h3>{{this.title}}</h3>
          <p>日期：{{this.date}}</p>
          <p>店家：{{this.merchant}}</p>
        </div>
        <div class="amount">{{this.amount}}</div>
        <div class="button">
          <a href="/expense/{{this._id}}/edit"><i class="far fa-edit"></i></a>
          <form action='/expense/{{this._id}}?_method=DELETE' method="POST">
            <button type="submit"><i class="far fa-trash-alt"></i></button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <a href="/expense/new">
    <div class="icon add-icon"><i class="fas fa-plus"></i></div>
  </a>
</div>