{{!-- container --}}
<div class="container-sm mt-5 mb-3 px-5" style="max-width: 650px;">
  <form action="">
    <div class="form-group mb-3">
      <label for="category">類別</label>
      <select class="form-control" id="category">
        <option>Household</option>
        <option>Transport</option>
        <option>Entertainment</option>
        <option>Grocery</option>
        <option>Others</option>
      </select>
    </div>
  </form>

  <div class='d-flex justify-content-between align-items-start mb-3'>
    <p>總金額：</p>
    <div class="pr-1"><span class='h1 display-1'>{{totalAmount}}</span></div>
  </div>

  <ul class='list-group mb-3'>
    {{#each records}}
    <li class='list-group-item'>
      <div class="wrapper d-flex justify-content-between">
        <div class="left d-flex align-items-center">
          <div class="icon mr-3">
            <i class="{{this.category}}"></i>
          </div>
          <div class="content">
            <p class="mb-0">{{this.title}}</p>
            <small>{{this.date}}</small>
          </div>
        </div>
        <div class="right d-flex align-items-center">
          <div class="content">
            <span class='mr-3'>{{this.amount}}</span>
          </div>
          <form action='/expense/{{this._id}}/delete' method="POST" class="button">
            <a class='mr-1 py-2 badge badge-primary' role='btn' href="/expense/{{this._id}}/edit">修改</a>
            <button class='py-2 badge badge-danger' type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  <a href="/expense/new" class="btn btn-success">新增支出</a>